
.van-icon-my-request:before { content: "\e68e"; }

.van-icon-my-request1:before { content: "\e68f"; }

.van-icon-new-process:before { content: "\e614"; }

.van-icon-completed:before { content: "\e62b"; }

.van-icon-empty:before { content: "\e643"; }

.van-icon-meiyouquanxian:before { content: "\e6aa"; }

.van-icon-check-circle:before { content: "\e77d"; }

.van-icon-CI:before { content: "\e77e"; }

.van-icon-Dollar:before { content: "\e77f"; }

.van-icon-compass:before { content: "\e780"; }

.van-icon-close-circle:before { content: "\e781"; }

.van-icon-frown:before { content: "\e782"; }

.van-icon-info-circle:before { content: "\e783"; }

.van-icon-left-circle:before { content: "\e784"; }

.van-icon-down-circle:before { content: "\e785"; }

.van-icon-EURO:before { content: "\e786"; }

.van-icon-copyright:before { content: "\e787"; }

.van-icon-minus-circle:before { content: "\e788"; }

.van-icon-meh:before { content: "\e789"; }

.van-icon-plus-circle:before { content: "\e78a"; }

.van-icon-play-circle:before { content: "\e78b"; }

.van-icon-question-circle:before { content: "\e78c"; }

.van-icon-Pound:before { content: "\e78d"; }

.van-icon-right-circle:before { content: "\e78e"; }

.van-icon-smile:before { content: "\e78f"; }

.van-icon-trademark:before { content: "\e790"; }

.van-icon-time-circle:before { content: "\e791"; }

.van-icon-timeout:before { content: "\e792"; }

.van-icon-earth:before { content: "\e793"; }

.van-icon-YUAN:before { content: "\e794"; }

.van-icon-up-circle:before { content: "\e795"; }

.van-icon-warning-circle:before { content: "\e796"; }

.van-icon-sync:before { content: "\e797"; }

.van-icon-transaction:before { content: "\e798"; }

.van-icon-undo:before { content: "\e799"; }

.van-icon-redo:before { content: "\e79a"; }

.van-icon-reload:before { content: "\e79b"; }

.van-icon-reloadtime:before { content: "\e79c"; }

.van-icon-message:before { content: "\e79d"; }

.van-icon-dashboard:before { content: "\e79e"; }

.van-icon-issuesclose:before { content: "\e79f"; }

.van-icon-poweroff:before { content: "\e7a0"; }

.van-icon-logout:before { content: "\e7a1"; }

.van-icon-login:before { content: "\e7a2"; }

.van-icon-piechart:before { content: "\e7a3"; }

.van-icon-setting:before { content: "\e7a4"; }

.van-icon-eye:before { content: "\e7a5"; }

.van-icon-location:before { content: "\e7a6"; }

.van-icon-edit-square:before { content: "\e7a7"; }

.van-icon-export:before { content: "\e7a8"; }

.van-icon-save:before { content: "\e7a9"; }

.van-icon-Import:before { content: "\e7aa"; }

.van-icon-appstore:before { content: "\e7ab"; }

.van-icon-close-square:before { content: "\e7ac"; }

.van-icon-down-square:before { content: "\e7ad"; }

.van-icon-layout:before { content: "\e7ae"; }

.van-icon-left-square:before { content: "\e7af"; }

.van-icon-play-square:before { content: "\e7b0"; }

.van-icon-control:before { content: "\e7b1"; }

.van-icon-codelibrary:before { content: "\e7b2"; }

.van-icon-detail:before { content: "\e7b3"; }

.van-icon-minus-square:before { content: "\e7b4"; }

.van-icon-plus-square:before { content: "\e7b5"; }

.van-icon-right-square:before { content: "\e7b6"; }

.van-icon-project:before { content: "\e7b7"; }

.van-icon-wallet:before { content: "\e7b8"; }

.van-icon-up-square:before { content: "\e7b9"; }

.van-icon-calculator:before { content: "\e7ba"; }

.van-icon-interation:before { content: "\e7bb"; }

.van-icon-check-square:before { content: "\e7bc"; }

.van-icon-border:before { content: "\e7bd"; }

.van-icon-border-outer:before { content: "\e7be"; }

.van-icon-border-top:before { content: "\e7bf"; }

.van-icon-border-bottom:before { content: "\e7c0"; }

.van-icon-border-left:before { content: "\e7c1"; }

.van-icon-border-right:before { content: "\e7c2"; }

.van-icon-border-inner:before { content: "\e7c3"; }

.van-icon-border-verticle:before { content: "\e7c4"; }

.van-icon-border-horizontal:before { content: "\e7c5"; }

.van-icon-radius-bottomleft:before { content: "\e7c6"; }

.van-icon-radius-bottomright:before { content: "\e7c7"; }

.van-icon-radius-upleft:before { content: "\e7c8"; }

.van-icon-radius-upright:before { content: "\e7c9"; }

.van-icon-radius-setting:before { content: "\e7ca"; }

.van-icon-adduser:before { content: "\e7cb"; }

.van-icon-deleteteam:before { content: "\e7cc"; }

.van-icon-deleteuser:before { content: "\e7cd"; }

.van-icon-addteam:before { content: "\e7ce"; }

.van-icon-user:before { content: "\e7cf"; }

.van-icon-team:before { content: "\e7d0"; }

.van-icon-areachart:before { content: "\e7d1"; }

.van-icon-linechart:before { content: "\e7d2"; }

.van-icon-barchart:before { content: "\e7d3"; }

.van-icon-pointmap:before { content: "\e7d4"; }

.van-icon-container:before { content: "\e7d5"; }

.van-icon-sever:before { content: "\e7d6"; }

.van-icon-mobile:before { content: "\e7d7"; }

.van-icon-tablet:before { content: "\e7d8"; }

.van-icon-redenvelope:before { content: "\e7d9"; }

.van-icon-book:before { content: "\e7da"; }

.van-icon-filedone:before { content: "\e7db"; }

.van-icon-reconciliation:before { content: "\e7dc"; }

.van-icon-file-exception:before { content: "\e7dd"; }

.van-icon-filesync:before { content: "\e7de"; }

.van-icon-filesearch:before { content: "\e7df"; }

.van-icon-solution:before { content: "\e7e0"; }

.van-icon-fileprotect:before { content: "\e7e1"; }

.van-icon-snippets:before { content: "\e7ef"; }

.van-icon-audit:before { content: "\e7f0"; }

.van-icon-diff:before { content: "\e7f1"; }

.van-icon-Batchfolding:before { content: "\e7f2"; }

.van-icon-securityscan:before { content: "\e7f3"; }

.van-icon-propertysafety:before { content: "\e7f4"; }

.van-icon-safetycertificate:before { content: "\e7f5"; }

.van-icon-insurance:before { content: "\e7f6"; }

.van-icon-alert:before { content: "\e7f7"; }

.van-icon-delete:before { content: "\e7f8"; }

.van-icon-hourglass:before { content: "\e7f9"; }

.van-icon-bulb:before { content: "\e7fa"; }

.van-icon-experiment:before { content: "\e7fb"; }

.van-icon-bell:before { content: "\e7fc"; }

.van-icon-trophy:before { content: "\e7fd"; }

.van-icon-rest:before { content: "\e7fe"; }

.van-icon-USB:before { content: "\e7ff"; }

.van-icon-skin:before { content: "\e800"; }

.van-icon-home:before { content: "\e801"; }

.van-icon-bank:before { content: "\e802"; }

.van-icon-filter:before { content: "\e803"; }

.van-icon-funnelplot:before { content: "\e804"; }

.van-icon-like:before { content: "\e805"; }

.van-icon-unlike:before { content: "\e806"; }

.van-icon-unlock:before { content: "\e807"; }

.van-icon-lock:before { content: "\e808"; }

.van-icon-customerservice:before { content: "\e809"; }

.van-icon-flag:before { content: "\e80a"; }

.van-icon-moneycollect:before { content: "\e80b"; }

.van-icon-medicinebox:before { content: "\e80c"; }

.van-icon-shop:before { content: "\e80d"; }

.van-icon-rocket:before { content: "\e80e"; }

.van-icon-shopping:before { content: "\e80f"; }

.van-icon-folder:before { content: "\e810"; }

.van-icon-folder-open:before { content: "\e811"; }

.van-icon-folder-add:before { content: "\e812"; }

.van-icon-deploymentunit:before { content: "\e813"; }

.van-icon-accountbook:before { content: "\e814"; }

.van-icon-contacts:before { content: "\e815"; }

.van-icon-carryout:before { content: "\e816"; }

.van-icon-calendar-check:before { content: "\e817"; }

.van-icon-calendar:before { content: "\e818"; }

.van-icon-scan:before { content: "\e819"; }

.van-icon-select:before { content: "\e81a"; }

.van-icon-boxplot:before { content: "\e81b"; }

.van-icon-build:before { content: "\e81c"; }

.van-icon-sliders:before { content: "\e81d"; }

.van-icon-laptop:before { content: "\e81e"; }

.van-icon-barcode:before { content: "\e81f"; }

.van-icon-camera:before { content: "\e820"; }

.van-icon-cluster:before { content: "\e821"; }

.van-icon-gateway:before { content: "\e822"; }

.van-icon-car:before { content: "\e823"; }

.van-icon-printer:before { content: "\e824"; }

.van-icon-read:before { content: "\e825"; }

.van-icon-cloud-server:before { content: "\e826"; }

.van-icon-cloud-upload:before { content: "\e827"; }

.van-icon-cloud:before { content: "\e828"; }

.van-icon-cloud-download:before { content: "\e829"; }

.van-icon-cloud-sync:before { content: "\e82a"; }

.van-icon-video:before { content: "\e82b"; }

.van-icon-notification:before { content: "\e82c"; }

.van-icon-sound:before { content: "\e82d"; }

.van-icon-radarchart:before { content: "\e82e"; }

.van-icon-qrcode:before { content: "\e82f"; }

.van-icon-fund:before { content: "\e830"; }

.van-icon-image:before { content: "\e831"; }

.van-icon-mail:before { content: "\e832"; }

.van-icon-table:before { content: "\e833"; }

.van-icon-idcard:before { content: "\e834"; }

.van-icon-creditcard:before { content: "\e835"; }

.van-icon-heart:before { content: "\e836"; }

.van-icon-block:before { content: "\e837"; }

.van-icon-error:before { content: "\e838"; }

.van-icon-star:before { content: "\e839"; }

.van-icon-gold:before { content: "\e83a"; }

.van-icon-heatmap:before { content: "\e83b"; }

.van-icon-wifi:before { content: "\e83c"; }

.van-icon-attachment:before { content: "\e83d"; }

.van-icon-edit:before { content: "\e83e"; }

.van-icon-key:before { content: "\e83f"; }

.van-icon-api:before { content: "\e840"; }

.van-icon-disconnect:before { content: "\e841"; }

.van-icon-highlight:before { content: "\e842"; }

.van-icon-monitor:before { content: "\e843"; }

.van-icon-link:before { content: "\e844"; }

.van-icon-man:before { content: "\e845"; }

.van-icon-percentage:before { content: "\e846"; }

.van-icon-pushpin:before { content: "\e848"; }

.van-icon-phone:before { content: "\e849"; }

.van-icon-shake:before { content: "\e84a"; }

.van-icon-tag:before { content: "\e84b"; }

.van-icon-wrench:before { content: "\e84c"; }

.van-icon-woman:before { content: "\e84d"; }

.van-icon-tags:before { content: "\e84e"; }

.van-icon-scissor:before { content: "\e84f"; }

.van-icon-mr:before { content: "\e850"; }

.van-icon-share:before { content: "\e851"; }

.van-icon-branches:before { content: "\e852"; }

.van-icon-fork:before { content: "\e853"; }

.van-icon-shrink:before { content: "\e854"; }

.van-icon-arrawsalt:before { content: "\e855"; }

.van-icon-verticalright:before { content: "\e856"; }

.van-icon-verticalleft:before { content: "\e857"; }

.van-icon-right:before { content: "\e858"; }

.van-icon-left:before { content: "\e859"; }

.van-icon-up:before { content: "\e85a"; }

.van-icon-down:before { content: "\e85b"; }

.van-icon-fullscreen:before { content: "\e85c"; }

.van-icon-fullscreen-exit:before { content: "\e85d"; }

.van-icon-doubleleft:before { content: "\e85e"; }

.van-icon-doubleright:before { content: "\e85f"; }

.van-icon-arrowright:before { content: "\e860"; }

.van-icon-arrowup:before { content: "\e861"; }

.van-icon-arrowleft:before { content: "\e862"; }

.van-icon-arrowdown:before { content: "\e863"; }

.van-icon-upload:before { content: "\e864"; }

.van-icon-colum-height:before { content: "\e865"; }

.van-icon-vertical-align-botto:before { content: "\e866"; }

.van-icon-vertical-align-middl:before { content: "\e867"; }

.van-icon-totop:before { content: "\e868"; }

.van-icon-vertical-align-top:before { content: "\e869"; }

.van-icon-download:before { content: "\e86a"; }

.van-icon-sort-descending:before { content: "\e86b"; }

.van-icon-sort-ascending:before { content: "\e86c"; }

.van-icon-fall:before { content: "\e86d"; }

.van-icon-swap:before { content: "\e86e"; }

.van-icon-stock:before { content: "\e86f"; }

.van-icon-rise:before { content: "\e870"; }

.van-icon-indent:before { content: "\e871"; }

.van-icon-outdent:before { content: "\e872"; }

.van-icon-menu:before { content: "\e873"; }

.van-icon-unorderedlist:before { content: "\e874"; }

.van-icon-orderedlist:before { content: "\e875"; }

.van-icon-align-right:before { content: "\e876"; }

.van-icon-align-center:before { content: "\e877"; }

.van-icon-align-left:before { content: "\e878"; }

.van-icon-pic-center:before { content: "\e879"; }

.van-icon-pic-right:before { content: "\e87a"; }

.van-icon-pic-left:before { content: "\e87b"; }

.van-icon-bold:before { content: "\e87c"; }

.van-icon-font-colors:before { content: "\e87d"; }

.van-icon-exclaimination:before { content: "\e87e"; }

.van-icon-font-size:before { content: "\e87f"; }

.van-icon-infomation:before { content: "\e880"; }

.van-icon-line-height:before { content: "\e881"; }

.van-icon-strikethrough:before { content: "\e882"; }

.van-icon-underline:before { content: "\e883"; }

.van-icon-number:before { content: "\e884"; }

.van-icon-italic:before { content: "\e885"; }

.van-icon-code:before { content: "\e886"; }

.van-icon-column-width:before { content: "\e887"; }

.van-icon-ellipsis:before { content: "\e889"; }

.van-icon-dash:before { content: "\e88a"; }

.van-icon-enter:before { content: "\e88c"; }

.van-icon-line:before { content: "\e88d"; }

.van-icon-minus:before { content: "\e88e"; }

.van-icon-question:before { content: "\e88f"; }

.van-icon-plus:before { content: "\e890"; }

.van-icon-rollback:before { content: "\e891"; }

.van-icon-small-dash:before { content: "\e892"; }

.van-icon-pause:before { content: "\e893"; }

.van-icon-bg-colors:before { content: "\e894"; }

.van-icon-logo:before { content: "\e942"; }

.van-icon-language:before { content: "\e610"; }

.van-icon-crown:before { content: "\e895"; }

.van-icon-drag:before { content: "\e896"; }

.van-icon-desktop:before { content: "\e897"; }

.van-icon-gift:before { content: "\e898"; }

.van-icon-stop:before { content: "\e899"; }

.van-icon-fire:before { content: "\e89a"; }

.van-icon-thunderbolt:before { content: "\e89b"; }

.van-icon-check-circle-fill:before { content: "\e89c"; }

.van-icon-left-circle-fill:before { content: "\e89d"; }

.van-icon-down-circle-fill:before { content: "\e89e"; }

.van-icon-minus-circle-fill:before { content: "\e89f"; }

.van-icon-close-circle-fill:before { content: "\e8a0"; }

.van-icon-info-circle-fill:before { content: "\e8a1"; }

.van-icon-up-circle-fill:before { content: "\e8a2"; }

.van-icon-right-circle-fill:before { content: "\e8a3"; }

.van-icon-plus-circle-fill:before { content: "\e8a4"; }

.van-icon-question-circle-fill:before { content: "\e8a5"; }

.van-icon-EURO-circle-fill:before { content: "\e8a6"; }

.van-icon-frown-fill:before { content: "\e8a7"; }

.van-icon-copyright-circle-fil:before { content: "\e8a8"; }

.van-icon-CI-circle-fill:before { content: "\e8a9"; }

.van-icon-compass-fill:before { content: "\e8aa"; }

.van-icon-Dollar-circle-fill:before { content: "\e8ab"; }

.van-icon-poweroff-circle-fill:before { content: "\e8ac"; }

.van-icon-meh-fill:before { content: "\e8ad"; }

.van-icon-play-circle-fill:before { content: "\e8ae"; }

.van-icon-Pound-circle-fill:before { content: "\e8af"; }

.van-icon-smile-fill:before { content: "\e8b0"; }

.van-icon-stop-fill:before { content: "\e8b1"; }

.van-icon-warning-circle-fill:before { content: "\e8b2"; }

.van-icon-time-circle-fill:before { content: "\e8b3"; }

.van-icon-trademark-circle-fil:before { content: "\e8b4"; }

.van-icon-YUAN-circle-fill:before { content: "\e8b5"; }

.van-icon-heart-fill:before { content: "\e8b6"; }

.van-icon-piechart-circle-fil:before { content: "\e8b7"; }

.van-icon-dashboard-fill:before { content: "\e8b8"; }

.van-icon-message-fill:before { content: "\e8b9"; }

.van-icon-check-square-fill:before { content: "\e8ba"; }

.van-icon-down-square-fill:before { content: "\e8bb"; }

.van-icon-minus-square-fill:before { content: "\e8bc"; }

.van-icon-close-square-fill:before { content: "\e8bd"; }

.van-icon-codelibrary-fill:before { content: "\e8be"; }

.van-icon-left-square-fill:before { content: "\e8bf"; }

.van-icon-play-square-fill:before { content: "\e8c0"; }

.van-icon-up-square-fill:before { content: "\e8c1"; }

.van-icon-right-square-fill:before { content: "\e8c2"; }

.van-icon-plus-square-fill:before { content: "\e8c3"; }

.van-icon-accountbook-fill:before { content: "\e8c4"; }

.van-icon-carryout-fill:before { content: "\e8c5"; }

.van-icon-calendar-fill:before { content: "\e8c6"; }

.van-icon-calculator-fill:before { content: "\e8c7"; }

.van-icon-interation-fill:before { content: "\e8c8"; }

.van-icon-project-fill:before { content: "\e8c9"; }

.van-icon-detail-fill:before { content: "\e8ca"; }

.van-icon-save-fill:before { content: "\e8cb"; }

.van-icon-wallet-fill:before { content: "\e8cc"; }

.van-icon-control-fill:before { content: "\e8cd"; }

.van-icon-layout-fill:before { content: "\e8ce"; }

.van-icon-appstore-fill:before { content: "\e8cf"; }

.van-icon-mobile-fill:before { content: "\e8d0"; }

.van-icon-tablet-fill:before { content: "\e8d1"; }

.van-icon-book-fill:before { content: "\e8d2"; }

.van-icon-redenvelope-fill:before { content: "\e8d3"; }

.van-icon-safetycertificate-f:before { content: "\e8d4"; }

.van-icon-propertysafety-fill:before { content: "\e8d5"; }

.van-icon-insurance-fill:before { content: "\e8d6"; }

.van-icon-securityscan-fill:before { content: "\e8d7"; }

.van-icon-file-exclamation-fil:before { content: "\e8d8"; }

.van-icon-file-add-fill:before { content: "\e8d9"; }

.van-icon-diff-fill:before { content: "\e8e4"; }

.van-icon-snippets-fill:before { content: "\e8e6"; }

.van-icon-batchfolding-fill:before { content: "\e8e7"; }

.van-icon-reconciliation-fill:before { content: "\e8e8"; }

.van-icon-folder-add-fill:before { content: "\e8e9"; }

.van-icon-folder-fill:before { content: "\e8ea"; }

.van-icon-folder-open-fill:before { content: "\e8eb"; }

.van-icon-database-fill:before { content: "\e8ec"; }

.van-icon-container-fill:before { content: "\e8ed"; }

.van-icon-sever-fill:before { content: "\e8ee"; }

.van-icon-calendar-check-fill:before { content: "\e8ef"; }

.van-icon-image-fill:before { content: "\e8f0"; }

.van-icon-idcard-fill:before { content: "\e8f1"; }

.van-icon-creditcard-fill:before { content: "\e8f2"; }

.van-icon-fund-fill:before { content: "\e8f3"; }

.van-icon-read-fill:before { content: "\e8f4"; }

.van-icon-contacts-fill:before { content: "\e8f5"; }

.van-icon-delete-fill:before { content: "\e8f6"; }

.van-icon-notification-fill:before { content: "\e8f7"; }

.van-icon-flag-fill:before { content: "\e8f8"; }

.van-icon-moneycollect-fill:before { content: "\e8f9"; }

.van-icon-medicinebox-fill:before { content: "\e8fa"; }

.van-icon-rest-fill:before { content: "\e8fb"; }

.van-icon-shopping-fill:before { content: "\e8fc"; }

.van-icon-skin-fill:before { content: "\e8fd"; }

.van-icon-video-fill:before { content: "\e8fe"; }

.van-icon-sound-fill:before { content: "\e8ff"; }

.van-icon-bulb-fill:before { content: "\e900"; }

.van-icon-bell-fill:before { content: "\e901"; }

.van-icon-filter-fill:before { content: "\e902"; }

.van-icon-fire-fill:before { content: "\e903"; }

.van-icon-funnelplot-fill:before { content: "\e904"; }

.van-icon-gift-fill:before { content: "\e905"; }

.van-icon-hourglass-fill:before { content: "\e906"; }

.van-icon-home-fill:before { content: "\e907"; }

.van-icon-trophy-fill:before { content: "\e908"; }

.van-icon-location-fill:before { content: "\e909"; }

.van-icon-cloud-fill:before { content: "\e90a"; }

.van-icon-customerservice-fill:before { content: "\e90b"; }

.van-icon-experiment-fill:before { content: "\e90c"; }

.van-icon-eye-fill:before { content: "\e90d"; }

.van-icon-like-fill:before { content: "\e90e"; }

.van-icon-lock-fill:before { content: "\e90f"; }

.van-icon-unlike-fill:before { content: "\e910"; }

.van-icon-star-fill:before { content: "\e911"; }

.van-icon-unlock-fill:before { content: "\e912"; }

.van-icon-alert-fill:before { content: "\e913"; }

.van-icon-api-fill:before { content: "\e914"; }

.van-icon-highlight-fill:before { content: "\e915"; }

.van-icon-phone-fill:before { content: "\e916"; }

.van-icon-edit-fill:before { content: "\e917"; }

.van-icon-pushpin-fill:before { content: "\e918"; }

.van-icon-rocket-fill:before { content: "\e919"; }

.van-icon-thunderbolt-fill:before { content: "\e91a"; }

.van-icon-tag-fill:before { content: "\e91b"; }

.van-icon-wrench-fill:before { content: "\e91c"; }

.van-icon-tags-fill:before { content: "\e91d"; }

.van-icon-bank-fill:before { content: "\e91e"; }

.van-icon-camera-fill:before { content: "\e91f"; }

.van-icon-error-fill:before { content: "\e920"; }

.van-icon-crown-fill:before { content: "\e921"; }

.van-icon-mail-fill:before { content: "\e922"; }

.van-icon-car-fill:before { content: "\e923"; }

.van-icon-printer-fill:before { content: "\e924"; }

.van-icon-shop-fill:before { content: "\e925"; }

.van-icon-setting-fill:before { content: "\e926"; }

.van-icon-USB-fill:before { content: "\e927"; }

.van-icon-golden-fill:before { content: "\e928"; }

.van-icon-build-fill:before { content: "\e929"; }

.van-icon-boxplot-fill:before { content: "\e92a"; }

.van-icon-sliders-fill:before { content: "\e92b"; }

.van-icon-IE:before { content: "\e92c"; }

.van-icon-alipay:before { content: "\e92d"; }

.van-icon-HTML:before { content: "\e92e"; }

.van-icon-apple:before { content: "\e92f"; }

.van-icon-android:before { content: "\e930"; }

.van-icon-windows:before { content: "\e931"; }

.van-icon-android-fill:before { content: "\e932"; }

.van-icon-apple-fill:before { content: "\e933"; }

.van-icon-HTML-fill:before { content: "\e934"; }

.van-icon-windows-fill:before { content: "\e935"; }

.van-icon-QQ:before { content: "\e936"; }

.van-icon-weibo:before { content: "\e937"; }

.van-icon-wechat-fill:before { content: "\e938"; }

.van-icon-alipay-circle-fill:before { content: "\e939"; }

.van-icon-QQ-circle-fill:before { content: "\e93a"; }

.van-icon-IE-circle-fill:before { content: "\e93b"; }

.van-icon-dingtalk-circle-fill:before { content: "\e93c"; }

.van-icon-weibo-circle-fill:before { content: "\e93d"; }

.van-icon-alipay-square-fill:before { content: "\e93e"; }

.van-icon-dingtalk-square-fill:before { content: "\e93f"; }

.van-icon-IE-square-fill:before { content: "\e940"; }

.van-icon-QQ-square-fill:before { content: "\e941"; }

.van-icon-service-log:before { content: "\e61c"; }

.van-icon-vacate:before { content: "\e60e"; }

.van-icon-evection:before { content: "\e60f"; }

.van-icon-waichu:before { content: "\e611"; }

.van-icon-reimbursement:before { content: "\e612"; }

.van-icon-buqia:before { content: "\e613"; }

.van-icon-kaoqintiaozheng:before { content: "\e615"; }

.van-icon-jiaban:before { content: "\e616"; }

.van-icon-zhuanzheng:before { content: "\e617"; }

.van-icon-official-document:before { content: "\e618"; }

.van-icon-adjust:before { content: "\e61a"; }

.van-icon-gerenxinxi:before { content: "\e61d"; }

.van-icon-yijianfankui:before { content: "\e61e"; }

.van-icon-version:before { content: "\e61f"; }

.van-icon-saoyisao:before { content: "\e620"; }

.van-icon-company:before { content: "\e623"; }

.van-icon-fujian:before { content: "\e624"; }

.van-icon-yue_yuan:before { content: "\e626"; }

.van-icon-week-o:before { content: "\e627"; }

.van-icon-shuangzhoubao:before { content: "\e628"; }

.van-icon-ribao:before { content: "\e629"; }

.van-icon-nianbao:before { content: "\e62a"; }

.van-icon-yuebao:before { content: "\e62c"; }

.van-icon-zhoubao:before { content: "\e62d"; }

.van-icon-bingjia:before { content: "\e62e"; }

.van-icon-pending:before { content: "\e62f"; }

.van-icon-report:before { content: "\e630"; }

.van-icon-dianzan:before { content: "\e631"; }

.van-icon-tiaoxiujia:before { content: "\e632"; }

.van-icon-lizhi:before { content: "\e633"; }

.van-icon-kehu:before { content: "\e634"; }

.van-icon-hunjia:before { content: "\e635"; }

.van-icon-nianjia:before { content: "\e636"; }

.van-icon-pinglun:before { content: "\e637"; }

.van-icon-sign:before { content: "\e638"; }

.van-icon-shijia:before { content: "\e639"; }

.van-icon-apply-delivery:before { content: "\e63a"; }

.van-icon-approve:before { content: "\e63b"; }

.van-icon-funeral-leave:before { content: "\e63c"; }

.van-icon-yunjia:before { content: "\e63e"; }

.van-icon-backup:before { content: "\e63f"; }

.van-icon-account_cancelled:before { content: "\e640"; }

.van-icon-handled:before { content: "\e641"; }

.van-icon-contract:before { content: "\e642"; }

.van-icon-user-fill:before { content: "\e621"; }

.van-icon-balance-pay:before { content: "\e70a"; }

.van-icon-add-o:before { content: "\e70b"; }

.van-icon-arrow:before { content: "\e70c"; }

.van-icon-arrow-left:before { content: "\e70e"; }

.van-icon-after-sale:before { content: "\e70f"; }

.van-icon-card:before { content: "\e710"; }

.van-icon-browsing-history:before { content: "\e711"; }

.van-icon-cash-back-record:before { content: "\e712"; }

.van-icon-cart:before { content: "\e713"; }

.van-icon-certificate:before { content: "\e714"; }

.van-icon-cash-on-deliver:before { content: "\e715"; }

.van-icon-check:before { content: "\e716"; }

.van-icon-chat:before { content: "\e717"; }

.van-icon-checked:before { content: "\e718"; }

.van-icon-clear:before { content: "\e719"; }

.van-icon-clock:before { content: "\e71a"; }

.van-icon-close:before { content: "\e71b"; }

.van-icon-completed1:before { content: "\e71c"; }

.van-icon-contact:before { content: "\e71d"; }

.van-icon-coupon:before { content: "\e71e"; }

.van-icon-credit-pay:before { content: "\e71f"; }

.van-icon-debit-pay:before { content: "\e720"; }

.van-icon-discount:before { content: "\e722"; }

.van-icon-description:before { content: "\e724"; }

.van-icon-edit-data:before { content: "\e725"; }

.van-icon-exchange:before { content: "\e726"; }

.van-icon-exchange-record:before { content: "\e727"; }

.van-icon-free-postage:before { content: "\e72a"; }

.van-icon-fail:before { content: "\e72b"; }

.van-icon-gold-coin:before { content: "\e72c"; }

.van-icon-gift-card:before { content: "\e72d"; }

.van-icon-goods-collect:before { content: "\e72e"; }

.van-icon-gift-card-pay:before { content: "\e72f"; }

.van-icon-hot:before { content: "\e730"; }

.van-icon-like-o:before { content: "\e733"; }

.van-icon-info-o:before { content: "\e734"; }

.van-icon-logistics:before { content: "\e737"; }

.van-icon-more-o:before { content: "\e739"; }

.van-icon-more:before { content: "\e73b"; }

.van-icon-new:before { content: "\e73c"; }

.van-icon-other-pay:before { content: "\e73d"; }

.van-icon-passed:before { content: "\e73e"; }

.van-icon-password-not-view:before { content: "\e741"; }

.van-icon-pending-orders:before { content: "\e742"; }

.van-icon-password-view:before { content: "\e743"; }

.van-icon-pending-deliver:before { content: "\e744"; }

.van-icon-pending-evaluate:before { content: "\e745"; }

.van-icon-photo:before { content: "\e746"; }

.van-icon-pending-payment:before { content: "\e747"; }

.van-icon-play:before { content: "\e748"; }

.van-icon-photograph:before { content: "\e74b"; }

.van-icon-qr:before { content: "\e74c"; }

.van-icon-qr-invalid:before { content: "\e74e"; }

.van-icon-send-gift:before { content: "\e74f"; }

.van-icon-records:before { content: "\e750"; }

.van-icon-receive-gift:before { content: "\e753"; }

.van-icon-search:before { content: "\e754"; }

.van-icon-sign1:before { content: "\e758"; }

.van-icon-success:before { content: "\e759"; }

.van-icon-underway:before { content: "\e75c"; }

.van-icon-upgrade:before { content: "\e75d"; }

.van-icon-wap-home:before { content: "\e75f"; }

.van-icon-tosend:before { content: "\e760"; }

.van-icon-wap-nav:before { content: "\e761"; }

.van-icon-add:before { content: "\e762"; }

.van-icon-value-card:before { content: "\e763"; }

.van-icon-warn:before { content: "\e764"; }

.van-icon-wechat:before { content: "\e765"; }

.van-icon-add-square:before { content: "\e766"; }

.van-icon-not-rights:before { content: "\e622"; }

.van-icon-error1:before { content: "\e6c1"; }

.van-icon-file-htm:before { content: "\e738"; }

.van-icon-file-docx:before { content: "\e73a"; }

.van-icon-file-document:before { content: "\e73f"; }

.van-icon-file-pdf:before { content: "\e740"; }

.van-icon-file-html:before { content: "\e749"; }

.van-icon-file-ppt:before { content: "\e74a"; }

.van-icon-file-doc:before { content: "\e74d"; }

.van-icon-file-pptx:before { content: "\e751"; }

.van-icon-file-txt:before { content: "\e752"; }

.van-icon-file-srt:before { content: "\e755"; }

.van-icon-file-xlsx:before { content: "\e756"; }

.van-icon-file-xls:before { content: "\e757"; }

.van-icon-file-mpeg:before { content: "\e75a"; }

.van-icon-file-mp:before { content: "\e75b"; }

.van-icon-file-rm:before { content: "\e75e"; }

.van-icon-file-mpg:before { content: "\e767"; }

.van-icon-file-mpe:before { content: "\e768"; }

.van-icon-file-mov:before { content: "\e769"; }

.van-icon-file-rmvb:before { content: "\e76a"; }

.van-icon-file-swf:before { content: "\e76b"; }

.van-icon-file-vob:before { content: "\e76c"; }

.van-icon-file-video:before { content: "\e76d"; }

.van-icon-file-wmv:before { content: "\e76e"; }

.van-icon-file-gp:before { content: "\e76f"; }

.van-icon-file-asf:before { content: "\e770"; }

.van-icon-file-avi:before { content: "\e771"; }

.van-icon-file-asx:before { content: "\e772"; }

.van-icon-file-dat:before { content: "\e773"; }

.van-icon-file-fla:before { content: "\e774"; }

.van-icon-file-flv:before { content: "\e775"; }

.van-icon-file-mkv:before { content: "\e776"; }

.van-icon-file-mv:before { content: "\e777"; }

.van-icon-file-ape:before { content: "\e778"; }

.van-icon-file-audio:before { content: "\e779"; }

.van-icon-file-midi:before { content: "\e77a"; }

.van-icon-file-flac:before { content: "\e77b"; }

.van-icon-file-mp1:before { content: "\e77c"; }

.van-icon-file-aac:before { content: "\e7e2"; }

.van-icon-file-ogg:before { content: "\e7e3"; }

.van-icon-file-wav:before { content: "\e7e4"; }

.van-icon-file-wma:before { content: "\e7e5"; }

.van-icon-file-dxf:before { content: "\e7e6"; }

.van-icon-file-emf:before { content: "\e7e7"; }

.van-icon-file-eps:before { content: "\e7e8"; }

.van-icon-file-bmp:before { content: "\e7e9"; }

.van-icon-file-cdr:before { content: "\e7ea"; }

.van-icon-file-gif:before { content: "\e7eb"; }

.van-icon-file-jpeg:before { content: "\e7ec"; }

.van-icon-file-jpg:before { content: "\e7ed"; }

.van-icon-file-image:before { content: "\e7ee"; }

.van-icon-file-pcx:before { content: "\e847"; }

.van-icon-file-png:before { content: "\e888"; }

.van-icon-file-psd:before { content: "\e88b"; }

.van-icon-file-tga:before { content: "\e8da"; }

.van-icon-file-svg:before { content: "\e8db"; }

.van-icon-file-tif:before { content: "\e8dc"; }

.van-icon-file-wmf:before { content: "\e8dd"; }

.van-icon-file-z:before { content: "\e8de"; }

.van-icon-file-tar:before { content: "\e8df"; }

.van-icon-file-iso:before { content: "\e8e0"; }

.van-icon-file-rar:before { content: "\e8e1"; }

.van-icon-file-cab:before { content: "\e8e2"; }

.van-icon-file-compress:before { content: "\e8e3"; }

.van-icon-file-zip:before { content: "\e8e5"; }

.van-icon-file-unknown:before { content: "\e943"; }
